.MainNav {
	white-space: nowrap;
	position: relative;
	z-index: 1;
	margin-right: -40px;
	.MainNav-mid {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		overflow: hidden;
	}
	.MainNav-inner {
		display: inline-block;
		vertical-align: top;
		position: relative;
		-webkit-transition: -webkit-transform 0.6s 0.6s cubic-bezier(1.000, 0.000, 0.000, 1.000);;
		-webkit-transform: translate3d(0, 0, 0);
	}
	.MainNav-list {
		left: 0;
		background: #fff;
		position: absolute;
		top: 0;
	}
	.MainNav-icon {
		position: relative;
		z-index: 1;
	}
}

.NavList {
	.NavList-item {
		width: 25%;
		position: relative;
		display: inline-block;
		vertical-align: top;
	}

	.NavList-link {
		@include rem(line-height, 13rem);
		-webkit-transform: translate3d(0, -13rem, 0);
		-webkit-transition: -webkit-transform 0.6s 0s cubic-bezier(1.000, 0.000, 0.000, 1.000), background-color 0.2s ease, border-color 1s ease;
		.MainNav.is-active & {
			-webkit-transform: translate3d(0, 0, 0);
		}
		.u-vc {
			width: 100%;
		}
		&:hover {
			background: #f7f7f7;
			.NavList-underline {
				border-bottom-width: 1px;
			}
		}
	}
	.NavList-item+.NavList-item .NavList-link {
		
		// TODO :: move to to color.scss
		.MainNav.is-active & {
			border-left-width: 1px;
		}
	}
	.NavList-item>.NavList-link { -webkit-transition-delay: 0.4s, 0; .MainNav.is-active & { -webkit-transition-delay: 0.8s, 0; } }
	.NavList-item:nth-child(2)>.NavList-link { -webkit-transition-delay: 0.3s, 0; .MainNav.is-active & { -webkit-transition-delay: 0.9s, 0; } }
	.NavList-item:nth-child(3)>.NavList-link { -webkit-transition-delay: 0.2s, 0; .MainNav.is-active & { -webkit-transition-delay: 1s, 0; } }
	.NavList-item:nth-child(4)>.NavList-link { -webkit-transition-delay: 0.1s, 0; .MainNav.is-active & { -webkit-transition-delay: 1.1s, 0; } }
	

	// .NavList-link:hover .NavList-underline {
	// 	// TODO :: move to color.scss
	// 	border-bottom-color: #999;
		
	// }
}

.MainNav {
	&.is-animation-disabled {
		&, * {
			-webkit-transition: none;
		}
	}
}
