.Overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(#32292c, 0.8);
	color: #f0f0f0;
}

	.Overlay-inner {
		overflow-y: auto;
		height: 100%;
	}

		.Overlay-content {
			width: 600px;
			margin-left: auto;
			margin-right: auto;
			display: table;
			height: 100%;
		}

			.Overlay-contentInner {
				display: table-cell;
				vertical-align: middle;
			}