/**
 * Extensions on the idea from suit-utils/size
 * - Added on a case-by-case basis
 */

.u-size4of14 {
	width: 28.57% !important;
}

.u-size10of14 {
	width: 71.42% !important;
}

.u-size0 {
	width: 0 !important;
}