.app {
	width: 112rem;
	margin: 0 auto;
}

.header {
	@extend .cf;
	padding-top: 4rem;
	// margin-left: -80px;
}

	.header__logo,
	.header__search,
	.header__util {
		// @extend .stacked;
		// padding-left: 80px;
	}

	.header__logo {
		width: 8rem;
		float: left;
		
	}

	.header__search {
		width: 8rem * 6;
		float: left;
	}

	.header__util {
		float: right;
		// width: 80px * 5;
	}

.stacked {
	display: inline-block;
	vertical-align: top;
}

// NOTE - ensure there is no whitespace in-between columns
// TODO - take care of this by removing whitespace on build

.row {
	margin-left: -8rem;
}

.row__column {
	@extend .stacked;
	margin-left: 8rem;
}


.logo-nav {
	height: 8rem;
	line-height: 8rem;
	text-indent: -9999px;
	display: block;
}

.search {
	position: relative;
}

	.search__label {
		padding-left: 0.75em;
	}

// TODO - don't use a pseudo :)
.search:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0.4rem;
	background: #db4886; // TODO - move to colours
}

.util {
	margin-left: -1px;
}
	.util__item {
		@extend .stacked;
		padding-left: 1px;
	}

.build-state-btn {
	height: 8rem;
	width: 8rem;
	text-align: center;
}
	.build-state-btn__char {
		padding-top: 1.6rem;
		display: block;
	}
	.build-state-btn__suffix {
		padding-top: 0.4rem;
		display: block;
	}

.build-state-label {
	line-height: 8rem;
}

.hit {
	color: inherit;
	display: block;
}

.main {
	padding-top: 4rem;
}
	.main__sidebar {
		width: 8rem;
	}
	.main__results {
		width: 8rem * 6;
	}
	.main__detail {
		width: 8rem * 5;
	}

.results-state-label {
	padding-top: 3.3rem;
}

.result {
	padding: 0 2rem;
	position: relative;
	
	color: rgba(255,255,255,0.6);
	line-height: 8rem;
	// TODO - remove pseudo
	&:first-child {
		color: #fff; // TODO - move color
		// line-height: 8rem;
		// margin-bottom: 1.5rem;
	}
	&:first-child:before {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		border: 0.4rem solid #db4886; // TODO - Move color
	}
}

.results-actions {
	padding-top: 4rem;
	li+li {
		padding-top: 1rem;
	}
}

.detail {
	padding: 4rem;
	h1 {
		font-size: 2.4rem;
		line-height: 1.2;
		color: #fff;
		font-weight: 300;
		margin-bottom: 1.5rem;
		padding-top: 2rem;
	}
	h1+p {
		margin-top: 0;
	}
	.desc {
		padding-top: 2.5rem;
	}
	h2 {
		font-size: 1.8rem;
		line-height: 1.2;
		font-weight: 300;
		margin: 0;
		padding-top: 2.5rem;
	}
	p {
		line-height: 3rem;
	}
	dt {
		float: left;
		clear: both;
		padding-top: 1rem;
	}
	dd {
		float: right;
		padding-top: 1rem;
	}
}

.tags {
	margin-left: -1px;
	li {
		@extend .stacked;
		line-height: 1.1rem;
		margin-left: 1px;
		a {
			display: inline-block;
			padding: 0.7em;
		}
	}
}