/*
11px = 0.6875rem
14px = 0.875rem
18px = 1.125rem
24px = 1.5rem
*/

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Open Sans', serif;
	font-weight: 300;
	font-size: 1.4rem;
	letter-spacing: 0.05em;
}

strong {
	font-weight: 600;
}

p, ul, ol {
	/*font-size: 1.4rem;*/
}

.t_search-label {
	font-size: 1.8rem;
	line-height: 8rem;
	font-style: italic;
	font-weight: 300;
	letter-spacing: 0.075em;
	color: rgba(255,255,255,0.2);
}

.t_subtitle {
	font-size: 1.8rem;
	font-weight: 600;
}

.t_action {
	text-transform: uppercase;
}
.t_action--primary {
	font-weight: 600;
}

.t_label {
	font-size: 1.1rem;
}

