// @import "../../bower_components/modularized-normalize-scss/normalize";
// @import "general";
// @import "layout";
// @import "color";
// @import "typography";
// @import "site"; // TODO - fix some conflicts here.
@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/suit-base/base.css";
@import "../../bower_components/suit-grid/grid.css";
@import "../../bower_components/suit-utils-size/size.css";
@import "../../bower_components/suit-utils-text/text.css";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "mixins/rem";
@import "components/grid";
@import "components/box-set";
@import "components/box";
@import "components/main-header";
@import "components/ring";
@import "components/search-bar";
@import "components/action";
@import "components/fruit-machine";
@import "components/container";
@import "components/icon";
@import "components/bar";
@import "components/main-nav";
@import "components/menu-icon";
@import "utilities/size";
@import "utilities/alignment";
@import "utilities/misc";
@import "color";
@import "type";
@import "layout";

$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
.OpenSide {
	.OpenSide-item {
		-webkit-transition: width 0.6s 0s $easeInOutExpo;
		.FruitMachine--forOpenSide.is-moved & {
			-webkit-transition-delay: 0.6s;
		}
	}
}
.FruitMachine--forOpenSide {
	.FruitMachine-transport {
		-webkit-transition-delay: 0.6s;
	}
	&.is-moved {
		.FruitMachine-transport {
			-webkit-transition-delay: 0s;
		}
	}
}

.TypeList {
	.TypeList-item+.TypeList-item {
		padding-top: 0.6em;
	}
	.TypeList-item>a {
		display: block;
		&:hover {
			opacity: 0.5;
		}
	}
	.TypeList-count {
		float: right;
	}
}


.Btn {
	@include rem(line-height, 13);
}

.App-main {
	@include rem(padding-top, 4);
}

.NoItemsMessage {
	@include rem(padding, 0, 6);
}

.Result {
	.Result-icon {
		width: 3rem;
		height: 3rem;
		background: #000;
		// background-image: url(add-alt-2.svg);
		position: absolute;
		right: 3em;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	&.is-selected {
		position: relative;
		z-index: 1;
		outline: 10px solid #fff;
		box-shadow: 0 0 30px rgba(0,0,0,0.2);
	}
}

.CombinationMark {
	text-align: center;
	.CombinationMark-logo {
		display: inline-block;
		@include rem(width, 4);
	}
	.CombinationMark-text {
		color: #db4886; // TODO :: color
		padding-left: 0.5em;
	}
}

.u-gutterLipLeft {
	@include rem(margin-left, -4);
}

.u-gutterLipRight {
	@include rem(margin-right, -4);
}