// TODO - browser support for non-RGBa, i.e. create stacks of pseudo-translucent colors

.c_light {
	background: #f7f7f7;
	color: #272727;
	a { color: inherit; }
}

.c_stark {
	background: #FFF;
}

.c_base {
	background: #272727;
	color: rgba(255,255,255,0.5);
	a {
		color: rgba(255,255,255,1);
	}
}

.c_linkbox {
	background: #fff;
}

a.c_primary,
.c_primary {
	background: #db4886;
	color: #f7f7f7;
}

.c_box {
	background: #eee;
}

.c_action,
a.c_action {
	color: #db4886;
}